/* Example userChrome.css file */

/* Import your desired components first */

/* @import url(chrome/tab_close_button_always_on_hover.css); */
/* @import url(chrome/tab_loading_progress_throbber.css); */
/* @import url(chrome/button_effect_scale_onclick.css); */
/* @import url(chrome/blank_page_background.css); */
/* @import url(chrome/autohide_menubar.css); */
/* @import url(chrome/hide_toolbox_top_bottom_borders.css); */
/* @import url(chrome/vertical_context_navigation.css); */
/* @import url(chrome/minimal_popup_scrollbars.css); */
/* @import url(chrome/button_effect_icon_glow.css); */
/* @import url(chrome/dark_context_menus.css); */
/* @import url(chrome/dark_additional_windows.css); */
/* @import url(chrome/dark_checkboxes_and_radios.css); */
/* @import url(chrome/minimal_text_fields.css); */
/* @import url(chrome/minimal_toolbarbuttons.css); */
/* @import url(chrome/urlbar_centered_text.css); */


/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navbar_tabs_oneliner.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Make tabs and navbar appear side-by-side tabs on right */

/* Use page_action_buttons_on_hover.css to hide page-action-buttons to save more space for the address */

/*
urlbar_popup_full_width.css is VERY MUCH recommended for Firefox 71+ because of new urlbar popup
*/

:root[uidensity="compact"]{
--tab-block-margin: 2px !important;
}

/* Modify these to change relative widths or default height */
#navigator-toolbox{
--uc-toolbar-height: 40px;
--uc-navigationbar-width: 40vw;
--uc-urlbar-min-width: 50vw; /* minimum width for opened urlbar */
}

#scrollbutton-up,
#scrollbutton-down{ border-block-width: 2px !important; }

/* Override for other densities */
:root[uidensity="compact"] #navigator-toolbox{ --uc-toolbar-height: 34px; }
:root[uidensity="touch"] #navigator-toolbox{ --uc-toolbar-height: 44px; }

#TabsToolbar{
margin-left: var(--uc-navigationbar-width);
--tabs-navbar-shadow-size: 0px;
}

#tabbrowser-tabs{
/*   padding-left: 3px !important;*/
--tab-min-height: calc(var(--uc-toolbar-height) - 2 * var(--tab-block-margin, 0px)) !important;
}

/* This isn't useful when tabs start in the middle of the window */

/*.titlebar-spacer[type="pre-tabs"]{ display: none }*/

#navigator-toolbox > #nav-bar {
    display: flex;
    flex-direction: row-reverse;
    border: none;
    outline: none;
    box-shadow: none !important;
    background: none !important;
    margin-top: calc(0px - var(--uc-toolbar-height));
    margin-right:calc(100vw - var(--uc-navigationbar-width));
    /*  margin-right:calc(100vw - var(--uc-navigationbar-width) - 3px);*/
}

/* Window drag space  */
:root[tabsintitlebar="true"] #nav-bar {
    padding-left: 24px !important;
}

/* Rules specific to window controls on right layout */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
    .titlebar-buttonbox-container {
        display: block;
        position: fixed;
        left: 0px;
        z-index: 3;
    }
    :root[tabsintitlebar="true"] #nav-bar {
/*        padding-left: 96px !important;*/
/*        padding-right: 0px !important;*/
        padding: 0 0 0 96px !important;
    }
}


/* Opened urlbar overlays the toolbar */
#urlbar[open]:focus-within {
    min-width: var(--uc-urlbar-min-width, none) !important;
}

/* Prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar ADJUST AS NEEDED */
@media screen and (max-width: 1500px) {
    #urlbar-container {
        min-width: unset !important;
    }
}

/* Hide dropdown placeholder */
#urlbar-container:not(:hover) .urlbar-history-dropmarker {
    margin-inline-start: -28px;
}

/* Fix customization view */
#customization-panelWrapper > .panel-arrowbox > .panel-arrow {
    margin-inline-end: initial !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/combined_favicon_and_tab_close_button.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show tab close button when cursor is over the tab icon */

/* inline_tab_audio_icons.css is recommended because otherwise you cannot mute the tab using the mute button */

.tab-content{
    pointer-events: none;
}

.tab-icon-image:not([busy]) {
    display: block !important;
}

:where(.tab-content:hover) .tab-icon-image,
:where(.tab-content:hover) > .tab-icon-stack{
    visibility: hidden;
}

:root:not(:-moz-window-inactive) #navigator-toolbox {
    background-color: transparent !important;
}

:root #TabsToolbar,
:root #titlebar,
:root #tabbrowser-tabs {
    -moz-appearance: -moz-mac-vibrant-titlebar-light !important;
    -moz-appearance: -moz-mac-source-list !important;
    background-color: transparent !important;
}

/* De-emphasize tab icons and names when window is unfocused */
:root:-moz-window-inactive .tab-content {
    opacity: 0.6;
}

/* recolor toolbar button hover/active bg colors to semi-transparent */
:root {
    --toolbarbutton-hover-background: color-mix(in srgb, currentColor 11%, transparent) !important;
    --toolbarbutton-active-background: color-mix(in srgb, currentColor 21%, transparent) !important;
}


/******************************************************************************/
/* Hide tab close button */

.tab-close-button {
    display: none;
}


/******************************************************************************/
/* Tab close button appears over icon on hover */

/* .tab-close-button { */
    /* -moz-box-ordinal-group: 0; */
    /* display: -moz-box !important; */
    /* position: relative; */
    /* margin-inline: -4px -20px !important; */
    /* padding-inline-start: 7px !important; */
    /* opacity: 0; */
    /* width: unset !important; */
    /* pointer-events: auto; */
    /* margin-top: 0 !important; */
/* }  */

/* .tab-close-button:hover { */
    /* opacity: 1; */
/* } */
/* .tabbrowser-tab[pinned] .tab-close-button { */
    /* display: none !important; */
/* } */


/******************************************************************************/
/* URL and menu buttons */

#nav-bar-customization-target {
    flex-grow: 1;
}

#PanelUI-menu-button {
    margin-left: 2px !important;
    padding-right: 0 !important;
}


/******************************************************************************/
/* Context Menu */

#contentAreaContextMenu {
    /* margin-top:  -20px !important; */
    margin-left: -18px !important;
}

#contentAreaContextMenu > menuitem:last-child {
    margin-bottom: 4px !important;
}

#context-navigation:not([hidden=true]) {
    display: flex;
    justify-content: space-around;
}

#context-reload       { order: 1; }
#context-stop         { order: 1; }
#context-back         { order: 2; }
#context-forward      { order: 3; }
#context-bookmarkpage { order: 4; }

#context-navigation > menuitem {
    flex-grow: 1;
}

#context-savepage,
#context-selectall,
#context-sep-selectall,
#context-sep-screenshots,
#context-viewsource,
#context-inspect-a11y {
    display: none !important;
}

#context-sep-navigation {
    /* margin-bottom: 4px; */
}

#context-media-eme-separator {
    /* -moz-appearance: none !important; */
    /* height: 1px; */
    /* background-color: rgb(55,55,55); */
    margin: 6px 6%;
/*    margin: 6px;*/
}


/******************************************************************************/
/* Things that can't be removed in the customize menu */

#back-button,
#forward-button {
    display: none !important;
}

#alltabs-button {
    display: none !important;
}


/******************************************************************************/
/* ??? */

/* Apply your custom modifications after imports */

/* :root{ */
/*   --toolbar-bgcolor: rgb(36,44,59) !important; */
/*   --uc-menu-bkgnd: var(--toolbar-bgcolor); */
/*   --arrowpanel-background: var(--toolbar-bgcolor) !important; */
/*   --autocomplete-popup-background: var(--toolbar-bgcolor) !important; */
/*   --uc-menu-disabled: rgb(90,90,90) !important; */
/*   --lwt-toolbar-field-focus: rgb(36,44,59) !important; */
/* } */
/**/

/* #sidebar-box{ --sidebar-background-color: var(--toolbar-bgcolor) !important; } */
/* window.sidebar-panel{ --lwt-sidebar-background-color: rgb(36,44,59) !important; } */
