configuration {
    kb-move-char-back:    "";
    kb-move-char-forward: "";
    kb-row-up:            "Left,j,a,Alt-j";
    kb-row-down:          "Right,l,d,Alt-l";
}

@theme "rounded-nord"

window {
    width: 455px;
}

mainbox {
    children: [ listview ];
}

listview {
    cycle: false;
    layout: horizontal;
}

element {
    padding: 0 30px;
}

element-text {
    font: "MesloLGS NF 32";
}
